*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;

}
.menu-nav{
  margin-top: 250px;
}
.container-menu{
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(10deg, #313112, #2E2E22);
    border-radius: 0% 0% 0% 100%;
    padding: 26px 26px 52px 52px;
    transition: all 2s;
}

.icon-menu{
    color: white;
    font-size: 30px;
}

.icon-close{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 26px;
    left: 26px;
    display: none;
}

.menu{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
}

.menu a {
    padding: 26px;
    font-size: 60px;
    text-align: center;
    color: white;
  display: block;

}

.menu a:before{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    top: 86px;
    left: 50%;

    transition: all 300ms;
}
.menu a:hover{
    color: #6F84A4;
    text-decoration: none;
transform:translate(0px,-10px);
}
.menu a:hover:before{
    width: 100%;
    left: 0%;
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}
